<?xml version="1.0"?>
<config>
    <modules>
        <Lilmuckers_JsCart>
            <version>0.1.0</version>
        </Lilmuckers_JsCart>
    </modules>
    
    <global>
        <models>
            <liljscart>
                <class>Lilmuckers_JsCart_Model</class>
                <resourceModel>liljscart_resource</resourceModel>
            </liljscart>
            <liljscart_resource>
                <class>Lilmuckers_JsCart_Model_Resource</class>
                <entities>
                    <order>
                        <table>liljscart_order</table>
                    </order>
                    <quote>
                        <table>liljscart_quote</table>
                    </quote>
                    <consumer>
                        <table>liljscart_consumer</table>
                    </consumer>
                    <consumer_store>
                        <table>liljscart_consumer_store</table>
                    </consumer_store>
                    <consumer_origin>
                        <table>liljscart_consumer_origin</table>
                    </consumer_origin>
                </entities>
            </liljscart_resource>
        </models>

        <blocks>
            <liljscart>
                <class>Lilmuckers_JsCart_Block</class>
            </liljscart>
        </blocks>

        <helpers>
            <liljscart>
                <class>Lilmuckers_JsCart_Helper</class>
            </liljscart>
        </helpers>

        <resources>
            <liljscart_setup>
                <setup>
                    <module>Lilmuckers_JsCart</module>
                    <!--class>Lilmuckers_JsCart_Model_Resource_Setup</class-->
                </setup>
            </liljscart_setup>
        </resources>
        
        <fieldsets>
            <liljscart_quote_output>
                <map>
                    <created_at>
                        <format>_datetime</format>
                        <to>created_at</to>
                    </created_at>
                    <updated_at>
                        <format>_datetime</format>
                        <to>updated_at</to>
                    </updated_at>
                    <is_virtual>
                        <format>_bool</format>
                        <to>virtual</to>
                    </is_virtual>
                    <items_count>
                        <format>_round</format>
                        <to>item_count</to>
                    </items_count>
                    <items_qty>
                        <format>_round</format>
                        <to>total_qty</to>
                    </items_qty>
                    <quote_currency_code>
                        <to>currency</to>
                    </quote_currency_code>
                    <grand_total>
                        <format>_roundCurrency</format>
                        <to>total</to>
                    </grand_total>
                    <cur_grand_total>
                        <to>cur_total</to>
                    </cur_grand_total>
                    <coupon_code>
                        <to>coupon</to>
                    </coupon_code>
                    <subtotal>
                        <format>_roundCurrency</format>
                        <to>subtotal</to>
                    </subtotal>
                    <cur_subtotal>
                        <to>cur_subtotal</to>
                    </cur_subtotal>
                    <cur_subtotal_with_discount>
                        <to>cur_discount_subtotal</to>
                    </cur_subtotal_with_discount>                    
                </map>
            </liljscart_quote_output>
            
            <liljscart_quote_item_output>
                <map>
                    <item_id>
                        <format>_round</format>
                        <to>id</to>
                    </item_id>
                    <created_at>
                        <format>_datetime</format>
                        <to>added_at</to>
                    </created_at>
                    <is_virtual>
                        <format>_bool</format>
                        <to>virtual</to>
                    </is_virtual>
                    <sku>
                        <to>sku</to>
                    </sku>
                    <name>
                        <to>name</to>
                    </name>
                    <description>
                        <to>description</to>
                    </description>
                    <weight>
                        <format>_double</format>
                        <to>weight</to>
                    </weight>
                    <qty>
                        <format>_round</format>
                        <to>qty</to>
                    </qty>
                    <price>
                        <format>_roundCurrency</format>
                        <to>price</to>
                    </price>
                    <cur_price>
                        <to>cur_price</to>
                    </cur_price>
                    <tax_percent>
                        <format>_roundCurrency</format>
                        <to>tax_pc</to>
                    </tax_percent>
                    <tax_amount>
                        <format>_roundCurrency</format>
                        <to>tax</to>
                    </tax_amount>
                    <cur_tax_amount>
                        <to>cur_tax</to>
                    </cur_tax_amount>
                    <row_total>
                        <format>_roundCurrency</format>
                        <to>total</to>
                    </row_total>
                    <cur_row_total>
                        <to>cur_total</to>
                    </cur_row_total>
                    <row_total_with_discount>
                        <format>_roundCurrency</format>
                        <to>total_discount</to>
                    </row_total_with_discount>
                    <cur_row_total_with_discount>
                        <to>cur_total_discount</to>
                    </cur_row_total_with_discount>
                    <row_weight>
                        <format>_double</format>
                        <to>total_weight</to>
                    </row_weight>
                    <tax_before_discount>
                        <format>_roundCurrency</format>
                        <to>tax_before_discount</to>
                    </tax_before_discount>
                    <cur_tax_before_discount>
                        <to>cur_tax_before_discount</to>
                    </cur_tax_before_discount>
                    <price_incl_tax>
                        <format>_roundCurrency</format>
                        <to>price_incl_tax</to>
                    </price_incl_tax>
                    <cur_price_incl_tax>
                        <to>cur_price_incl_tax</to>
                    </cur_price_incl_tax>
                    <row_total_incl_tax>
                        <format>_roundCurrency</format>
                        <to>total_incl_tax</to>
                    </row_total_incl_tax>
                    <cur_row_total_incl_tax>
                        <to>cur_total_incl_tax</to>
                    </cur_row_total_incl_tax>
                    <fsk_rating>
                        <to>fsk_rating</to>
                    </fsk_rating>
                </map>
            </liljscart_quote_item_output>
        </fieldsets>
        
        <events>
            <!--checkout_cart_save_after>
                <observers>
                    <ajaxcart>
                        <class>liljscart/observer</class>
                        <method>addConsumerData</method>
                    </ajaxcart>
                </observers>
            </checkout_cart_save_after-->
            <!--sales_model_service_quote_submit_after>
            
            </sales_model_service_quote_submit_after-->
        </events>
    </global>
    
    <adminhtml>
    	<layout>
    		<updates>
    			<liljscart>
    				<file>liljscart.xml</file>
    			</liljscart>
    		</updates>
    	</layout>
    </adminhtml>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Lilmuckers_JsCart before="Mage_Adminhtml">Lilmuckers_JsCart_Adminhtml</Lilmuckers_JsCart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <frontend>
        <routers>
            <liljscart>
                <use>standard</use>
                <args>
                    <module>Lilmuckers_JsCart</module>
                    <frontName>liljscart</frontName>
                </args>
            </liljscart>
        </routers>
    </frontend>
</config>